@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    color: #fff;
    background: #111;
    font-family: 'Poppins', sans-serif;
}

.bgAnimation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    background: #1d1d1d;
    filter: saturate(2);
    overflow: hidden;
}
.colorBox{
    z-index: 2;
    filter: brightness(1.1);
    transition: 2s ease;
    position: relative;
    margin: 2px;
    background: #1d1d1d;
}


.backgroundAmim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #6A30A7;
    filter: blur(60px);
    animation: animBack 6s linear infinite;
}

@keyframes animBack {
    0% {
        top: -60px;
    }

    100% {
        top: 120%;
    }
}

.container {
    position: relative;
    z-index: 1;
    width: 100%;
    min-height: 100vh;
    backdrop-filter: blur(1px);
    pointer-events: none;
    font-family: 'Poppins', sans-serif;
}

.container nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 40px;
    height: 100px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.container nav h1 {
    font-size: 2.6em;
    color: #fff;
    position: relative;
    cursor: pointer;
    pointer-events: all;
    letter-spacing: 4px;
    font-family: 'Poppins', sans-serif;
}

.container nav h1 span {
    color: #6A30A7;
}

.container nav ul {
    display: flex;
}

nav ul li a {
    color: #fff;
    transition: color 0.3s ease;
    font-family: 'Poppins', sans-serif;
    
}

nav ul li a:hover {
    color: #6A30A7;
}

.container nav ul li a{
    position: relative;
    list-style: none;
    font-size: 1.3em;
    font-weight: 400;
    padding: 12px 18px;
    cursor: pointer;
    pointer-events: all;
    overflow: hidden;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.container nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 5px;
    width: 0%;
    height: 3px;
    left: 50%;
    background: #6A30A7;
    transform: translateX(-50%);
    transition: .3s;
}

.container nav li a:hover {
    color: #6A30A7;
}

.container nav li a:hover::after {
    width: 80%;
}

.container section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    text-align: center;
    pointer-events: none;
    font-family: 'Poppins', sans-serif;
}


.textBox h2 {
    font-size: 2;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.textBox h1 {
    font-size: 3.4em;
    color: #6A30A7;
    font-family: 'Poppins', sans-serif;
}

.textBox p {
    font-size: 1.2em;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.textBox .homeBtn {
    font-family: 'Poppins';
    padding: 8px 18px;
    margin: 16px 12px;
    font-size: 20px;
    background-color: transparent;
    color: var(--i);
    outline: none;
    border: 3px solid var(--i);
    border-radius: 4px;
    cursor: pointer;
    pointer-events: all;
    transition: .3s;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.textBox .homeBtn:hover {
    background-color: var(--i);
    color: #000;
}
.about section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    pointer-events: none;
    font-family: 'Poppins', sans-serif;
}
.about h2 {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    pointer-events: none;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.about h1 {
    font-size: 3.4em;
    color: #6A30A7;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    pointer-events: none;
    font-family: 'Poppins', sans-serif;
}

.about p {
    font-size: 1.2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: left;
    text-align: left;
    pointer-events: none;
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Poppins', sans-serif;
}
.about h3{
    font-size: 3.4em;
    color: #6A30A7;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    pointer-events: none;
    font-family: 'Poppins', sans-serif;
}

.edu section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    pointer-events: none;
    font-family: 'Poppins', sans-serif;
}
.edu h2 {
    font-size: 1.5em;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    pointer-events: none;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.edu h1 {
    font-size: 3.4em;
    color: #6A30A7;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    pointer-events: none;
    font-family: 'Poppins', sans-serif;
}

.edu p {
    font-size: 1.2em;
    color: #fff;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    pointer-events: none;
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Poppins', sans-serif;
}
.edu h3{
    font-size: 3.4em;
    color: #6A30A7;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    pointer-events: none;
    font-family: 'Poppins', sans-serif;
}
.cont form{
    margin-left: 28%;
}
.cont form input{
    
    width: 60%;
    padding: 10px;
    color: black;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
}
.cont form textarea{
    width: 60%;
    border: none;
    border-radius: 10px;
    resize: none;
    box-shadow: 0px 5px 5px -6px black;
    height: 200px;
}
.cont .submit{
    width: 20%;
    font-family: 'Poppins';
    padding: 8px 18px;
    margin: 16px 12px;
    font-size: 20px;
    background-color: transparent;
    color: var(--i);
    outline: none;
    border: 3px solid var(--i);
    border-radius: 4px;
    cursor: pointer;
    pointer-events: all;
    transition: .3s;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.cont .submit:hover{
    background-color: var(--i);
    color: #000;
}
@media (max-width:765px){
    .book{
        padding: 0;
    }
    .main-text h1{
        padding: 20px;
    }
}
.cont section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    pointer-events: none;
    font-family: 'Poppins', sans-serif;
}
.cont h2 {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    pointer-events: none;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.cont h1 {
    font-size: 3.4em;
    color: #6A30A7;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    pointer-events: none;
    font-family: 'Poppins', sans-serif;
}

.cont p {
    font-size: 1.2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: left;
    text-align: left;
    pointer-events: none;
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Poppins', sans-serif;
}
.cont h3{
    font-size: 3.4em;
    color: #6A30A7;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    pointer-events: none;
    font-family: 'Poppins', sans-serif;
}
.course h1{
    font-size: 3.4em;
    color: #6A30A7;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    pointer-events: none;
    font-family: 'Poppins', sans-serif;
}
.course h2{
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    pointer-events: none;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
.edu .h2{
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    pointer-events: none;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
.course {
    text-align: center;
    margin: 0 auto; /* Center the content */
    padding: 0 20px; /* Add padding on left and right */
}

.course .card {
    border-radius: 5px;
    border: 1px solid #aeaeaf;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    margin-top: 50px; /* Adjust margin between cards */
    display: inline-block; /* Display cards in a row */
    margin-left: 30px; /* Add margin between cards */
}

.course .card:first-child {
    margin-left: 0; /* Remove margin for the first card */
}

.course .card img {
    border-radius: 5px;
}

.course .card .card-body {
    background: transparent;
}

.course .card .card-body h3 {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    
}

.course .card .card-body p {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.course .card .card-body a {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    background: black;
    color: white;
    border-radius: 5px;
}

.course .card .card-body a:hover {
    font-family: 'Poppins', sans-serif;
    background-color: #6A30A7;
    color: white;
    border: none;
}

@media screen and (max-width: 767px) {
    .navbar-nav {
        margin-left: 0;
        padding: 0;
        text-align: left; 
    }

    .navbar-nav .nav-link {
        display: block; 
        
    }
}
#footer{
    width: 100%;
    margin-top: 80px;
    text-align: center;
    background: black;
    margin-bottom: -10%;
    
}
#footer h1{
    font-size: 36px;
    font-weight: 550;
    letter-spacing: 4px;
    color: #fff;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    padding-top: 5%;
    
}
#footer h1 span{
    color: #6A30A7;
    
}

.social-links i{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background: black;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.social-links i:hover{
    background: #6A30A7;
}